# Root .gitignore
node_modules/
dist/
build/
.DS_Store

# Ignore actual environment files (for Production)
.env
.env.production
.env.local

# DO NOT ignore .env.development because we want the team to share the dev DB connection!
!.env.development